[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-core = "==2.17.4"
ansible-runner = "~=2.4.0"
ansible-runner-http = "~=1.0.0"
urllib3 = "~=1.26.2"
kubernetes = "==29.0.0"
safety = "==3.2.7"
PyYAML = "==6.0.2"
requests = "==2.31.0"

[dev-packages]

[requires]
python_version = "3.12"
