[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-runner = "~=2.4.0"
ansible-runner-http = "~=1.0.0"
ansible-core = "~=2.18.3"
urllib3 = "~=1.26.2"
kubernetes = "==32.0.0"
requests = "~=2.31.0"

[dev-packages]

[requires]
python_version = "3.12"
