name: ansible
on:
  pull_request: {}

jobs:
  e2e:
    name: e2e
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: sudo rm -rf /usr/local/bin/kustomize
      - run: make test-e2e-ansible

  e2e-molecule:
    name: e2e-molecule
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - run: sudo rm -rf /usr/local/bin/kustomize
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Run test e2e ansible molecule
        run: |
          env
          pip3 install --user --upgrade setuptools pip
          pip3 install --user ansible-core~=2.15.0
          make test-e2e-ansible-molecule
