name: sanity
on:
  pull_request: {}

jobs:
  sanity:
    name: sanity
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - uses: actions/setup-go@v5
      with:
        go-version-file: "go.mod"
      id: go
    - run: sudo rm -rf /usr/local/bin/kustomize
    - run: make test-sanity
